*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    /* background-color: plum; */
    background: linear-gradient(45deg,rgb(85, 85, 222),plum,purple,#7462ff);
    background-size: 400% 400%;
    animation: color 10s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.navbar {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#search input {
    font-size: 40px;
    border-radius: 20px;
    border: 2px solid plum;
    width: 500px;
}

#search-icon button {
    font-size: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid plum;
}
.mainbody {
    display: flex;
    align-items: center;
    justify-content: center;
}
#img {
    height: 300px;
    width: 300px;
    background-color: aqua;
    /* position: relative;
    top: 30px; */
    background-image: url("wheather.png");
    background-size: cover;
    border-radius: 10px;
}
.class {
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
}
#type {
    font-size: 35px;
    color:rgb(242, 246, 250);
}
.information1 {
display: flex;
justify-content: space-around;
align-items: center;
font-size: 50px;
font-weight: 500;
}
.information2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
}
.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#humidity {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 20px;
}
#humidity-icon {
    font-size: 50px;
}

#humidity-info {
    font-size: 30px;
}
#windspeed {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 20px;

}
#windspeed-icon {
    font-size: 50px;
}

#windspeed-info {
    font-size: 30px;
}
.newclass1 {
    background-image: url("clouds.png");
    background-size: cover;
}


  
